<ion-header>
  <ion-toolbar>
    <ion-title>Contact Page </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label>FirstName</ion-label>
          <ion-input type="text" [(ngModel)]="firstName"  clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>LastName</ion-label>
          <ion-input type="text" [(ngModel)]="lastName"  clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="text" [(ngModel)]="email"  clearInput></ion-input>
        </ion-item>
      </ion-list>
        

</ion-content>
<ion-footer>
    <ion-button expand="full" (click) ="closemodal()">{{editbtn}}</ion-button>
  </ion-footer>
