<ion-header>
  <ion-toolbar>
    <ion-buttons slot ="start">
       <ion-back-button></ion-back-button>
    </ion-buttons>   
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <h2>Username:{{username}}</h2>
       </ion-item>
    <ion-item>
   <h2>Bill bob</h2>
    </ion-item>
    <ion-item>
      <h2>spider man</h2>
    </ion-item>
    <ion-item>
      <h2>Kevin heart</h2>
    </ion-item>
  </ion-list>
  <ion-button routerLink="/" routerDirection="backward">Go home</ion-button>
</ion-content>
